h1,h2,h3,h4{
	color: #FE1F0B;
	font-size: 100px;
}


.drop_menu {

background:#D10100;

padding:0;

margin:0;

list-style-type:none;

height:30px;

}

.drop_menu li { float:left; }

.drop_menu li a {

padding:9px 20px;

display:block;

color:#fff;

text-decoration:none;

font:12px arial, verdana, sans-serif;

}

 

/* Submenu */

.drop_menu ul {

position:absolute;

left:-9999px;

top:-9999px;

list-style-type:none;

}

.drop_menu li:hover { position:relative; background:#0246FF; }

.drop_menu li:hover ul {

left:0px;

top:30px;

background:#0246FF;

padding:0px;

}

 

.drop_menu li:hover ul li a {

padding:5px;

display:block;

width:168px;

text-indent:15px;

background-color:#0246FF;

}
.drop_menu li:hover ul li a:hover { background:#005555; }
.header{
width: 100%;
border: solid;
background-color: #D1D5D6;
font-size: 30;
	